<ng-container *ngIf="(data$ | async) as data">
  <div class="text-center mt-4">
    <h2 class="title m-0">Réinitialiser le mot de passe</h2>
    <p class="body-2 text-secondary m-0">
      Entrez votre e-mail pour la récupération du mot de passe.
    </p>
  </div>
  <form nz-form [formGroup]="forgetPasswordForm" (ngSubmit)="resetPassword()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Email obligatoire!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button
      type="submit"
      [nzLoading]="data.isLoading"
      nz-button class="login-form-button login-form-margin"
      [nzType]="'primary'">
      Valider
    </button>
  </form>
</ng-container>
